button {
  all: unset;

}

.categories-title {
  font-size: 50px;
}
.btn-category {
  padding: 20px 30px;         
  margin: 5px;
  font-weight: bold;
  background-color: #333;
  text-transform: capitalize;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;      
  display: inline-block;      
  cursor: pointer;
  font-size: 25px;
}

.btn-category:hover {
  background-color: #555;     
}

.categories-list {
  display: flex;
  justify-content: center;   
  gap: 10px;                 
}

.category-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .categories-list {
    flex-direction: column;
    gap: 15px;
  }

  .categories-list button {
    width: 100%;
    margin: auto;
  }
}

